<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}">
    <script src="static/validation.js" type="text/javascript"></script>
    <title>Admin</title>
</head>
<body>
<div class="container1"><a href="/" id="img1"> <img src="static/projectlogo.png"></a></div>
<div class="content">

<button class="tablink" onclick="openPage('Home', this, 'white')">New User</button>
<button class="tablink" onclick="openPage('News', this, 'white')" id="defaultOpen">Login</button>


<div id="Home" class="tabcontent" style="height:600px;">
<form action="/admin/verification" name="form1" method="post"  onsubmit="return validategender()">
    <table>
        <tr><td><h3 style="position:relative;top:30px;left:30px;">Register For bank <h style="color:grey;">ADMINS</h></h3></td></tr>
        <tr><td> <label for="edit-name" id="l11">username for LDP:</label></td></tr>
        <tr><td><input type="text" id="t1" name="username" onblur="return validategender1()" required></td></tr>
        <tr><td> <label for="edit-name" id="l11">First name:</label></td></tr>
        <tr><td><input type="text" id="t2" name="firstname" onblur="return ff()" required></td></tr>
         <tr><td> <label for="edit-name" id="l11">Last name:</label></td></tr>
        <tr><td><input type="text" id="t3" name="lastname" onblur="return ln()"></td></tr>
         <tr><td> <label for="edit-name" id="l11">Password:</label></td></tr>
        <tr><td><input type="password" id="t4" name="password" onblur="return pass()" required="return pass()"></td></tr>
        <tr><td> <label for="edit-name" id="l11">Email:</label></td></tr>
        <tr><td><input type="email" id="t5" name="email" required></td></tr>
         <tr><td> <label for="edit-name" id="l11">Gender:</label></td></tr>
            <td> <td> <select name="gender" id="select1">
              <option value="-1" >Gender</option>
              <option value="1" >Female</option>
               <option value="2">Male</option>
               <option value="3">Dharmic</option>
    </select></td></td>
        <tr><td><input type="checkbox" name="checkbox" id="checkbox" required> <h5 style="position:absolute;top:503px;left:50px">I agree terms and conditions</h5></td></tr>
            <tr><td><input type="submit" value="Register"></td></tr>

    </table>
</form>
</div>
<div id="News" class="tabcontent" id="tab1">
    <div id="errorname" > <h5 style="color:red"> {{data}}</h5> </div>
     <form action="/admin/homepage" method="post" name="adminsform">
       <h2>Already you have account?</h2>
       <label id="lh">
           Login Here:
       </label>
        <label for="edit-name">username:</label>
        <input type="text" name="username" id="username" onblur="return adminusername()">
        <label id="lab">password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="login" id="login">
       <a href="#">Forgot password?</a>
    </form>
</div>
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
</body>
</html>