<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{url_for('static',filename='admin.css')}}">
</head>
<body>
<div class="header22">
    <h1 style="font-size:20px;position:absolute;left:500px">WELCOME TO ADMIN HOME LDP</h1>
</div>
<div class="table">
    <h2 style="position:relative;left:550px;">Welcome to admins page</h2>
    <a href="/userdetails" style="position:relative;left:600px;top:-20px;">redirect to users data</a>
<h5 style="width:200px;">An effective job title wiil typically include a general term, the level of experience and any special requirements. The general term will optimize your job title to show up in a general search for jobs of the same nature. The level of experience will help you attract the most qualified applicants by outlining the amount of responsibility and prior knowledge required. And if your position is specialized, consider including the specialization in the job title as well. But avoid using internal titles, abbreviations or acronyms to make sure people understand what your job posting is before clicking.

Administrator
Senior Administrator
Business Administrator (Oracle certification preferred)
Administrator (Part-Time)
    Manager</h5>
    <img src="static/bank.jpg">
</div>
</body>
</html>